.page {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-right: 20%;
  margin-left: 20px;
  gap: 50px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.divider {
  width: 60vw;
  border: 1px solid #2b1fa9;
  margin-top: 20px;
}

.title {
  color: #2b1fa9;
  margin-top: 10px;
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 18px;
}

.headerText {
  color: #242329;
  font-size: 20px;
  letter-spacing: 0.4px;
  font-weight: 500;
  margin-top: 10px;
  width: 80%;
}

.team {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 70px;
  margin-bottom: 70px;
}

.orgSoc {
  height: 44rem;
  margin-top: 2rem;
}

@media screen and (max-width: 1000px) {
  .page {
    padding-right: 0;
    margin-left: 0;
  }

  .team {
    flex-direction: column;
    align-items: center;
  }

  .header h3 {
    font-size: 18pt;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 0;
  }

  .headerText {
    width: 90%;
    font-size: 12pt;
    font-weight: 500;
  }

  .divider {
    width: 90vw;
  }

  .orgSoc {
    width: 90dvw;
    height: unset;
  }
  
}
