.header {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9 !important;
  background-size: cover !important;
  background-position: center !important;
}

.title_container {
  display: flex;
  width: fit-content;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.header__title {
  color: #efefef;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  position: relative;
  background-color: transparent;
}

.header__title span {
  font-family: "Montserrat", sans-serif;
  position: relative;
  margin-left: 5%;
  background-color: transparent;
}

.header__decor {
  height: 2rem;
  position: relative;
  background-color: transparent;
}
