.history {
  position: relative;
  background-color: #f8f8fd;
  min-width: 100%;
  height: auto;
}

.history h1 {
  width: 30%;
  font-size: 64px;
  font-weight: 500;
  padding-left: 40px;
  font-family: "Montserrat", sans-serif;
  color: #000;
  margin-bottom: -5%;
}

.history h1 span {
  font-size: 70px;
  font-weight: 700;
  color: #2b1fa9;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 500vh;
  width: 100%;
  background-color: #f8f8fd;
}

.divider {
  height: 490vh;
  border: 1px solid #2b1fa9;
  border-radius: 50%;
}

/*left*/

.menu {
  width: 50%;
  height: 500vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.offset {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 448.5vh;
}

.menuContainer {
  position: sticky;
  width: 680px;
  height: 450px;
  top: 29.2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.yearContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  height: 80%;
}

.button {
  border: 2px;
}

.year {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.active {
  color: #2b1fa9;
  font-weight: 600;
  font-size: 64px;
  transition: all 0.3s;
  text-decoration: none;
}

.active a {
  color: #2b1fa9;
  text-decoration: none;
}

.hidden {
  color: #2a1fa9a8;
  font-weight: 400;
  font-size: 20px;
  transition: all 0.3s;
  text-decoration: none;
}

.hidden a {
  color: #2a1fa9a8;
  text-decoration: none;
}

.menuContainer p {
  text-align: end;
  width: 68%;
  font-size: 18pt;
  padding-right: 40px;
}

/*right*/

.images {
  width: 50%;
  aspect-ratio: 2/1;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.img {
  width: 80%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 20px;
}

.mobile_container {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .container {
    display: none;
  }

  .mobile_container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: rem;
    width: 100%;
    gap: 5rem;
    background-color: #f8f8fd;
  }

  .mobile_date {
    position: relative;
    left: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
  }

  .mobile_date_image_left {
    height: 10rem;
    width: 90%;
    margin-left: 10%;
    border-radius: 0.5rem 0.5rem 0.5rem 5rem;
    object-fit: cover;
    box-shadow: 0px 0px 6px 1px #0000006e;
    filter: brightness(60%);
  }

  .mobile_date_image_right {
    height: 10rem;
    width: 90%;
    border-radius: 0.5rem 0.5rem 5rem 0.5rem;
    object-fit: cover;
    filter: brightness(60%);
  }

  .mobile_date_title_right {
    position: absolute;
    text-align: end;
    top: 0.5rem;
    right: 0.5rem;
    width: 100%;
    padding-right: 10%;
    font-size: 32pt;
    font-weight: 700;
    padding-left: 0px;
    font-family: "Montserrat", sans-serif;
    color:white;
  }

  .mobile_date_title_left {
    position: absolute;
    text-align: start;
    top: 0.5rem;
    left: 0.5rem;
    width: 100%;
    padding-left: 10%;
    font-size: 32pt;
    font-weight: 700;
    padding-right: 0px;
    font-family: "Montserrat", sans-serif;
    color:white;
  }

  .mobile_date_text_right {
    position: absolute;
    bottom: 0;
    text-align: start;
    width:80%;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    font-size: 10pt;
    font-weight: 600;
    padding-left: 4px;
    font-family: "Montserrat", sans-serif;
    color: white;
  }

  .mobile_date_text_left {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: end;
    width:80%;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    font-size: 10pt;
    font-weight: 600;
    padding-left: 4px;
    font-family: "Montserrat", sans-serif;
    color: white;
  }

  .history h1 {
    width: 100%;
    font-size: 32pt;
    font-weight: 700;
    padding-left: 0px;
    font-family: "Montserrat", sans-serif;
    color: #2b1fa9;
    margin-bottom: 1rem;
  }

  .history h1 span {
    font-size: 32pt;
    font-weight: 700;
    color: #2b1fa9;
  }
}
