.container {
  flex: 1 1 calc((100% - 140px) / 3);
  max-width: calc((100% - 140px) / 3);
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #6960c1;
  box-shadow: 0px 0px 20px 3px rgba(20, 12, 104, 0.08);
  cursor: default;
  transition: all 0.3s;
}

.container:hover {
  transform: scale(1.05);
  transition: all 0.2s;
}

.container:hover .logo{
 animation: shake 0.5s;
  transition: all 0.5s ease-in-out;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}


.container:last-child {
  margin-left: calc((100% - ((100% - 140px) / 3)) / 2);
}

.logo {
  height: 60px;
  width: 60px;
  color: #2b1fa9;
}

.title {
  width: 90%;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 1000px) {
  .container {
    flex: unset;
    max-width: unset;
    width: 16rem;
    height: 10rem;
  }

  .container:last-child {
    margin-left: 0;
  }

  .logo {
    height: 40px;
    width: 40px;
  }
  
}
